:root{
    --purple: #BE93D4;
    --gray: #E5E7EB;
    --lemon: #fff9e7;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    font-family: 'Roboto Mono', monospace;
}
.left-div{
    flex: 3;
    background-image: url("https://images.unsplash.com/photo-1559494007-9f5847c49d94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
}
.logo-div{
    display: flex;
    position: relative;
    top: 20vh;
    width: 100%;
    height: 16vh;
    justify-content: center;
    gap: 3vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.left-div img{
    padding: 1.5vh 0;
    margin-left: 1.5vh;
}
.left-div h1{
    font-size: 6vh;
    color: white;
    margin-right: 1.5vh;
}
.left-div p{
    position: relative;
    top: 75vh;
    text-align: center;
    color: white;
    font-size: 1.5vh;
}
.right-div{
    flex: 5;
    background-color: var(--lemon);
}
.right-div p{
    width: 75%;
    margin-left: 5vh;
    font-size: 2.5vh;
    font-weight: 800;
}
.right-div p:nth-of-type(1){
    margin-top: 13.5vh;
}
.right-div p:nth-of-type(2){
    margin-top: 5vh;
    font-size: 2.5vh;
    font-weight: 700;
}
.right-div p:nth-of-type(3){
    margin-top: 5vh;
    font-size: 2vh;
    font-weight: 600;
    margin-bottom: 5vh;
}
.form-row{
    display: flex;
    margin-left: 5vh;
    width: 75%;
}
.form{
    margin-bottom: 2vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.form label{
    font-size: 1.2vh;
    font-weight: 100;
    margin-bottom: 0.5vh;
}
.form input{
    width: 75%;
    height: 2.5vh;
    border: 1px solid var(--gray);
    border-radius: 3px;
    padding: 2px 8px;
}
.form input:invalid{
    border: 1px solid red;
}
.shadow{
    width: 100%;
    margin-top: 3vh;
    border-bottom: 3px solid var(--gray);
    margin-bottom: 3vh;
}
button{
    margin-left: 5vh;
    border: none;
    border-radius: 3px;
    padding: 12px 36px;
    font: inherit;
    background-color: var(--purple);
    color: white;
}
.right-div p:nth-of-type(4){
    margin-top: 3vh;
    font-size: 1.5vh;
    font-weight: 600;
}
a{
    text-decoration: none;
}
a:active{
    color: var(--purple);
}